.wrapper {
  max-width: 112rem;
  padding-inline: 1.6rem;
  margin-inline: auto;
  margin-block: 3.2rem;

  display: grid;
  grid-template-columns: 256px 1fr;
  align-items: flex-start;
  gap: 3.2rem;
}

@media (width < 768px) {
  html {
    font-size: 54.69%;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}